/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

/* common style */
h1{font-family: 'Montserrat Subrayada', sans-serif;}
body{
    font-family: 'Karla', sans-serif;
    background-color: white;
}

/* Header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEC310;
    padding: 15px 40px;
    box-shadow: 0px 1px 5px #3dbafd;
}
.menu{font-weight: 700;
}
.menu-name{
    margin-right: 20px;
    text-decoration: none;
    color: #56042C;
}
.header-logo {border: 0.25px solid #56042C;
    border-radius: 25px;
padding: 5px;
color: #56042C;}

/*---------------- body area
----------------------------- */

.Top-head{
    background-color: #56042C;
}
.container{
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    padding: 0 140px 80px;
} 
#main-headline{color: white;
            font-weight: 700;
            font-size: 64px;
            margin-right: 102px;}
.button-container{display: flex;
align-items: center;}
 .basic-button{background-color: #FEC310;
padding: 10px 24px;
font-size: 16px;}
.button{text-decoration: none;
color: #56042C;
font-weight: 500;}
#banner img {width: 556px;
            height: 438px;
            transition: all 1s ease-in;}
#banner img:hover{transform: scale(1.1) rotate(10deg) ;}

/************ article section *********/
.articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    row-gap: 27px;
    margin: 70px 140px;
}

.articles .article img {width: 100%;} 
        
.article{
    width: 330px;
    height: 474px;
    padding: 15px 15px 33px 15px ;
    box-shadow: 0 1px 5px gray;
}
.Player-name{
    color: #56042C;
    font-weight: 700;
    font-size: 28px;
}
.player-details {
    margin-top: -12px;
    font-size: 16px;
    font-weight: 400;
}
/* subscribe */
.Subscribe
/* footer aera */
footer{text-align: center;
background-color: #FEC310;
padding: 40px 0 10px;
}
footer img {
    width: 30%;
}
.footer-logo{
    color: #56042C;
    font-size: 30px;
    margin: 20px 10px;
}
#fifa{
    font-size: 25px;
    font-weight: 700;
    color: #56042C;
}
/* Mobile device  */
@media only screen and (max-width:688px) {
    nav{
        display: hidden;
    }
    .container{ flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
#banner img {width: 100%;}
#main-headline{width:25%;
    font-size: 40px;
            }
.articles {display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin: 5px;}
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px){

    nav{
        display: hidden;
    }
    .container{ flex-direction: column;
        width: 100%;
        padding: 10px;
        margin: 10px;
    }
#banner img {width: 100%;}
#main-headline{width:25%;
    font-size: 40px;
            }
.articles {display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin: 5px;}
}
}